<!-- Barra de Navegação dentro do Curso -->

<style>
      .NavGlobal {
        background-color: #00305c;
        border-bottom: 4px solid #00824a;
        box-shadow: 0 4px 0 #fae042;
      }
</style>

<!-- Ícones da aba do navegador -->
<link rel="apple-touch-icon" sizes="180x180" href="{{{moodle_url}}}/images/favicon_saberes.ico">
<link rel="icon" type="image/png" href="{{{moodle_url}}}/images/favicon_saberes.ico" sizes="32x32" />
<link rel="icon" type="image/png" href="{{{moodle_url}}}/images/favicon_saberes.ico" sizes="192x192" />
<link rel="icon" type="image/png" href="{{{moodle_url}}}/images/favicon_saberes.ico" sizes="96x96" />
<link rel="icon" type="image/png" href="{{{moodle_url}}}/images/favicon_saberes.ico" sizes="16x16" />
